@model TicketRetailSystem.ViewModels.UserTicketsViewModel
@{
    ViewBag.Title = "Bilety zakupione przez użytkownika";
}

<h2>Tickets bought by user</h2>


@if (Model.Tickets.Count != 0)
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">User info</div>
            <div class="panel-body">
                <p>ID: @Model.Tickets.First().UserId</p>
                <p>Name: @Model.Tickets.First().UserName</p>
                <p>Surname: @Model.Tickets.First().UserSurname</p>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">User tickets</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Card type</th>
                            <th scope="col">Is active</th>
                            <th scope="col">Ticket type</th>
                            <th scope="col">Valid from</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in Model.Tickets)
                        {
                            <tr>
                                <th scope="row">@ticket.CardType</th>
                                <td>@ticket.IsActive</td>
                                <td>@ticket.TicketType.DiscountType</td>
                                <td>@ticket.ValidFromDate</td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>


}
else
{
    <br />
    <p>No user with this ID</p>
}
