@model TicketRetailSystem.ViewModels.BuyTicketViewModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
<div>
    @Html.Label("Zone:")
    @Html.Label(Model.TicketType.Zone.ToString())
	<br/>
    @Html.Label("Ticket duration:")
    @Html.Label(Model.TicketType.TicketPeriod.ToString())
    <br/>
    @Html.Label("Discount:")
    @Html.Label(Model.TicketType.DiscountType.ToString())
	<br/>
    @Html.Label("Number of tickets:")
    @Html.Label(Model.NumberOfTickets.ToString())
    <br/>
    @Html.Label("Payment type:")
    @Html.Label(Model.PaymentType.ToString())
    <br/>
	
@using (Html.BeginForm("Finalize", "App", FormMethod.Post))
{
    @Html.HiddenFor(m => Model.NumberOfTickets, Model.NumberOfTickets)
    @Html.HiddenFor(m => Model.TicketType.DiscountType, Model.TicketType.DiscountType)
    @Html.HiddenFor(m => Model.TicketType.TicketPeriod, Model.TicketType.TicketPeriod)
    @Html.HiddenFor(m => Model.TicketType.Zone, Model.TicketType.Zone)
    @Html.HiddenFor(m => Model.PaymentType, Model.PaymentType)
    <button type="submit" class="btn btn-primary">Pay</button>
    <button type="cancel" class="btn btn-primary">Cancel</button>
}

</div>
